<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
					
		<header>
			  <h1>Welcome Visitor</h1>
			  <p>Thank you for visiting my page.</p>
		</header>
				  
			<section>
				<header>
					<h2>Something About Me</h2>
				</header>
				<p>My name is Sercan Yildiz. My student ID is 131043226. I am happ to see you here. </p>
			</section>
					
    <!-- End your code here  -->
  </main>
</div>
