<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->

    <header>
      <h1>Greeting</h1>
      <p
        >I will be demonstrating HTML5 principles and techniques, 
        Routing in Express, and so on.</p
      >
    </header>

    <section>
      <header>
        <h2>About this website</h2>
      </header>
      <p
        >This site consists of 3 static views (Home, About, HTML Demo) as well
        as 5 routes that supply data, including: <a href="/">Home</a>,
        <a href="/about">About</a>, <a href="/htmldemo">HTML Demo</a>,
        <a href="/students">All Students</a>,
        <a href="/students?course=3">Students Course</a>,
        <a href="/student/2">Student</a>,
        <a href="/tas">Teaching Assistants</a>, and
        <a href="/courses">Courses</a>.
      </p>
    </section>

    <section>
      <header>
        <h2>HTML5 Principles</h2>
      </header>
      <p
        >This site utilizes HTML5: a markup language used for structuring and
        presenting content on the World Wide Web.</p
      >
    </section>
    <!-- End your code here  -->
  </main>
</div>
