<div class="row">
  <main class="col-md-12">
    <section>
      <header>
        <h2>Student Data</h2>
      </header>
      <table border="1">
        <caption>Lists</caption>
        <thead>
          <tr>
            <th rowspan="2">First Name</th>
            <th rowspan="2">Last name</th>
            <th colspan="2">Date of birth</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sercan</td>
            <td>Yildiz</td>
            <td>07/10/1996</td>
          </tr>
          <tr>
            <td>Tatiane</td>
            <td>Brito</td>
            <td>04/02/2000</td>
          </tr>
          <tr>
            <td>Miguel</td>
            <td>Araujo</td>
            <td>09/03/2005</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">Informatin subject to changes</td>
          </tr>
        </tfoot>
      </table>

      <table border="1">
        <caption>Program</caption>
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Program</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sercan</td>
            <td>Yildiz</td>
            <td>Math</td>
          </tr>
          <tr>
            <td>Tatiane</td>
            <td>Brito</td>
            <td>Graphics</td>
          </tr>
          <tr>
            <td>Miguel</td>
            <td>Araujo</td>
            <td>Art</td>
          </tr>
        </tbody>
      </table>

      <p
        >The utilization of a range of HTML table elements and properties, such as caption, 
        thead, tbody, tfoot, th, td, tr, rowspan, and colspan, is demonstrated in these two tables. 
        These tables serve as a means of arranging and displaying data in a well-organized and structured way on web pages.</p
      >
    </section>

    <section>
      <h2>Program details</h2>
      <ul>
        <li>Math</li>
        <li
          >Graphics
          <ul>
            <li>Web</li>
            <li>App</li>
            <li>Full</li>
          </ul>
        </li>
        <li>Art</li>
        <li>Literature</li>
      </ul>
      <p
        >This segment consists of an unordered list that has five individual items. Among the items, 
        Item 3 comprises an unordered list with three sub-items. 
        Each list item has the potential to accommodate any form of content, including images, text, and hyperlinks.</p
      >
    </section>

    <div style="margin-top: 60px; margin-bottom: 30px">
      <h2>Image</h2>
      <img
        width="500"
        src="https://blog.artsper.com/wp-content/uploads/2022/07/Judith-et-Holopherne-vers-1598-1599-Galerie-nationale-dart-ancien-Rome-1.jpg"
        alt="Caravaggio Judith"
      /><br /><br />
      <img
        width="500"
        src="https://www.julianporterqc.com/wordpress/wp-content/uploads/2018/06/caravaggio-cruciifixion-of-st-peter-500.jpg"
        alt="Caravaggio Peter"
      /><br /><br />
      <img
        width="500"
        src="https://uploads0.wikiart.org/00340/images/caravaggio/death-of-the-virgin.jpg"
        alt="Caravaggio Virgin"
      />
      <br /><br />
      <p
        >This section contains a gallery of three images with alternative text
        describing the content of the images.</p
      >
    </div>

    <section>
      <h2>Audio</h2>
      <audio controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"
          type="audio/mp3"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg "
          type="audio/ogg"
        />
        <p
          >Sorry, your browser doesn't support HTML5 audio. Here is a
          <a href="song.mp3">link to the audio</a> instead</p
        >.
      </audio>
      <p
        >This section contains an HTML 5 audio player with a sample audio file.
        Click on the play button to listen to the audio.
      </p>
    </section>

    <section>
      <h2>Video</h2>
      <video controls>
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"
          type="video/mp4"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg"
          type="video/ogg"
        />
        <source
          src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm"
          type="video/webm"
        />
        Your browser does not support the video tag.
      </video>
      <p
        >This section contains an HTML 5 video player. You can use the controls
        to play, pause, and adjust the volume of the video. If your browser does
        not support the video format, the "Your browser does not support the
        video tag." message will be displayed.</p
      >
    </section>
  </main>
</div>
